div.hidden {
  display: none;
}

.heading {
  grid-area: header;
}

.description {
  grid-area: description;
}

.box-outline {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0.2em solid rgb(164, 164, 164); */
  background-color: #e9ecef !important;
}

.chartOne {
  grid-area: chartOne;
}

.chartTwo {
  grid-area: chartTwo;
}

.feeter {
  grid-area: feeter;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  grid-template-areas:
    "header header header header header header header header header header"
    "chartOne chartOne chartOne chartOne chartOne chartTwo chartTwo chartTwo chartTwo chartTwo"
    "chartOne chartOne chartOne chartOne chartOne chartTwo chartTwo chartTwo chartTwo chartTwo"
    "chartOne chartOne chartOne chartOne chartOne chartTwo chartTwo chartTwo chartTwo chartTwo"
    "chartOne chartOne chartOne chartOne chartOne chartTwo chartTwo chartTwo chartTwo chartTwo"
    "chartOne chartOne chartOne chartOne chartOne chartTwo chartTwo chartTwo chartTwo chartTwo"
    "feeter feeter feeter feeter feeter feeter feeter feeter feeter feeter";
  grid-gap: 0.4em;
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

.grid-container > div {
  border-radius: 0.3em;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: medium;
}
