@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 8em;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(71, 168, 206);
  opacity: 0.5;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 1, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 26.5px;
    left: 26.5px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.load-text {
  font-size: 30px;
  font-family: "Anton", sans-serif;
  color: rgb(57, 120, 145);
  position: absolute;
  margin-top: 0.2em;
}

div#center-group {
  position: absolute;
  margin-top: 22%;
  margin-left: 45%;
}
